In [14]:
import pandas as pd
import numpy as np
import re
import matplotlib as plt
from wordcloud import WordCloud
from tqdm.autonotebook import tqdm
tqdm.pandas()

# NLTK
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

# Visualization
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib
%matplotlib inline
import seaborn as sns

In [94]:
gf = pd.read_csv('finale_go_clean.csv')

In [98]:
ff['sentiment'] = gf['tweet'].progress_apply(lambda x: TextBlob(x).sentiment.polarity)

HBox(children=(IntProgress(value=0, max=376949), HTML(value='')))

In [99]:
ff.head()

,id,date,time,username,tweet,mentions,hashtags,topics,0,1,2,3,4,5,6,7,8,9,sentiment
0,1.045203e+18,2018-09-27,06:47:22,10mgp,"[sure, luci, couldnt, miss, see, speak, line, ...","['lucylucyprior', 'xrailgroup', 'transcityrail']",NaN,"{0: 0.0100580305, 1: 0.0100580305, 2: 0.228744...",0.010058,0.010058,0.228744,0.487173,0.113148,0.010058,0.010058,0.010058,0.010060,0.110585,0.500000
1,1.036687e+18,2018-09-03,18:48:27,10mgp,"[darbaarbyabdul, guy, close, tri, phone, guy, ...",['darbaarbyabdul'],NaN,"{1: 0.12951413, 2: 0.30384994, 8: 0.50829476}",0.000000,0.129514,0.303850,0.000000,0.000000,0.000000,0.000000,0.000000,0.508295,0.000000,-0.085185
2,1.028857e+18,2018-08-13,04:15:16,10mgp,"[british, airway, safeti, lucki, serv, tea]","['johnmsv', 'emirates', 'british_airways']",NaN,"{0: 0.15713021, 1: 0.15714662, 2: 0.014292412,...",0.157130,0.157147,0.014292,0.014292,0.157099,0.157097,0.014292,0.300065,0.014292,0.014292,0.333333
3,1.017129e+18,2018-07-11,19:30:04,10mgp,"[ive, enter, autotradergo, chanc, win, free, car]",NaN,['#autotradergoals'],"{0: 0.15712872, 1: 0.15715624, 2: 0.014287142,...",0.157129,0.157156,0.014287,0.014288,0.299989,0.014289,0.157153,0.157131,0.014290,0.014287,0.600000
4,1.013736e+18,2018-07-02,10:45:58,10mgp,"[becci, sent, ongo, issu, thank]",['landrover_uk'],NaN,"{0: 0.020004185, 1: 0.21999583, 2: 0.020004185...",0.020004,0.219996,0.020004,0.419946,0.020008,0.020004,0.020004,0.020004,0.020007,0.220022,0.000000

In [124]:
ff['Timestamp'] = pd.to_datetime(ff['date'] + ' ' + ff['time'])

In [135]:
ff['DayOfWeek'] = ff['Timestamp'].progress_apply(lambda x: x.dayofweek)

HBox(children=(IntProgress(value=0, max=376949), HTML(value='')))

In [136]:
ff['Month'] = ff['Timestamp'].progress_apply(lambda x: x.month)

HBox(children=(IntProgress(value=0, max=376949), HTML(value='')))

In [138]:
ff['Hour'] = ff['Timestamp'].progress_apply(lambda x: x.hour)

HBox(children=(IntProgress(value=0, max=376949), HTML(value='')))

In [139]:
ff.head()

,id,date,time,username,tweet,mentions,hashtags,topics,0,1,...,5,6,7,8,9,sentiment,Timestamp,DayOfWeek,Month,Hour
0,1.045203e+18,2018-09-27,06:47:22,10mgp,"[sure, luci, couldnt, miss, see, speak, line, ...","['lucylucyprior', 'xrailgroup', 'transcityrail']",NaN,"{0: 0.0100580305, 1: 0.0100580305, 2: 0.228744...",0.010058,0.010058,...,0.010058,0.010058,0.010058,0.010060,0.110585,0.500000,2018-09-27 06:47:22,3,9,6
1,1.036687e+18,2018-09-03,18:48:27,10mgp,"[darbaarbyabdul, guy, close, tri, phone, guy, ...",['darbaarbyabdul'],NaN,"{1: 0.12951413, 2: 0.30384994, 8: 0.50829476}",0.000000,0.129514,...,0.000000,0.000000,0.000000,0.508295,0.000000,-0.085185,2018-09-03 18:48:27,0,9,18
2,1.028857e+18,2018-08-13,04:15:16,10mgp,"[british, airway, safeti, lucki, serv, tea]","['johnmsv', 'emirates', 'british_airways']",NaN,"{0: 0.15713021, 1: 0.15714662, 2: 0.014292412,...",0.157130,0.157147,...,0.157097,0.014292,0.300065,0.014292,0.014292,0.333333,2018-08-13 04:15:16,0,8,4
3,1.017129e+18,2018-07-11,19:30:04,10mgp,"[ive, enter, autotradergo, chanc, win, free, car]",NaN,['#autotradergoals'],"{0: 0.15712872, 1: 0.15715624, 2: 0.014287142,...",0.157129,0.157156,...,0.014289,0.157153,0.157131,0.014290,0.014287,0.600000,2018-07-11 19:30:04,2,7,19
4,1.013736e+18,2018-07-02,10:45:58,10mgp,"[becci, sent, ongo, issu, thank]",['landrover_uk'],NaN,"{0: 0.020004185, 1: 0.21999583, 2: 0.020004185...",0.020004,0.219996,...,0.020004,0.020004,0.020004,0.020007,0.220022,0.000000,2018-07-02 10:45:58,0,7,10

In [142]:
mf = ff[['id', 'username', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'DayOfWeek', 'Month', 'Hour', 'sentiment']]

# Preliminary Prediction Models

In [147]:
X = mf[['username', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'DayOfWeek', 'Month', 'Hour']]
X = pd.get_dummies(X)

In [148]:
X = pd.get_dummies(X)

In [149]:
y = mf[['sentiment']]

In [150]:
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso, RidgeCV, LassoCV
from sklearn.model_selection import cross_val_score, cross_val_predict,train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import matplotlib
import matplotlib.pyplot as plt

In [164]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns=X.columns)

/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [165]:
model_lr = LinearRegression()
scores = cross_val_score(model_lr,X_train,y_train,cv=5)
print('scores: ',scores)
print('socres mean: ',scores.mean())

scores:  [0.08797325 0.09053193 0.08899739 0.09104492 0.09098423]
socres mean:  0.08990634513799811

In [166]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)

print('training           r2:',dt.score(X_train,y_train))
print('test               r2:',dt.score(X_test,y_test))

training           r2: 0.9999068342600758
test               r2: -0.9178346643328898

In [155]:
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor,BaggingRegressor,AdaBoostRegressor

In [156]:
a= RandomForestRegressor(max_features=12)
a.fit(X_train,y_train)

print('training           r2:',a.score(X_train,y_train))
print('test               r2:',a.score(X_test,y_test))

/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

training           r2: 0.8328479448512468
test               r2: 0.07056220742030461

In [138]:
sc.mean(ff.sent_class)

1.1820389609325272

CLASSIFICATION

In [167]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [168]:
def osa(x):
    if x > 0.2:
        o = 2
    elif 0.2 > x > -0.2:
        o = 1
    else:
        o = 0
    return o

In [169]:
ff['sent_class'] = ff['sentiment'].progress_apply(lambda x: osa(x))

HBox(children=(IntProgress(value=0, max=376949), HTML(value='')))

In [170]:
yc = ff[['sent_class']]

In [171]:
X_train_c, X_test_c, y_train_c, y_test_c = train_test_split(X,yc,test_size=0.2)

scaler = StandardScaler()
X_train_c = pd.DataFrame(scaler.fit_transform(X_train_c), columns=X.columns)
X_test_c = pd.DataFrame(scaler.transform(X_test_c), columns=X.columns)

/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [172]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(solver='lbfgs', multi_class='multinomial')
logreg.fit(X_train_c, y_train_c)
logreg.score(X_train_c, y_train_c), logreg.score(X_test_c, y_test_c)

/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

(0.6610945121850119, 0.6609231993633108)

In [125]:
import scipy as sc

In [191]:
from sklearn.tree import DecisionTreeClassifier

In [210]:
tree = DecisionTreeClassifier(max_depth=20, min_samples_split=4)
tree.fit(X_train_c, y_train_c)
tree.score(X_train_c, y_train_c), tree.score(X_test_c, y_test_c)

(0.7143875659489519, 0.6403899721448468)

<bound method BaseEstimator.get_params of DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')>

In [173]:
yc.sent_class.value_counts()

1    241778
2    100904
0     34267
Name: sent_class, dtype: int64

In [174]:
241778/(len(yc))

0.6414077235912551

In [161]:
# from imblearn.over_sampling import SMOTE
# Xres_train,Xres_test , yres_train, yres_test = train_test_split(X, y, test_size = 0.25)


# smote = SMOTE()
# Xres_train, yres_train = smote.fit_resample(Xres_train, yres_train)

/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [163]:
# from sklearn.linear_model import LogisticRegressionCV

# model_res = LogisticRegression()
# model_res.fit(Xres_train, yres_train) 
# model_res.score(Xres_train, yres_train), model_res.score(Xres_test, yres_test)

(0.47665719478199264, 0.4683385237392777)

In [188]:
# pd.Series(yres_train).value_counts()

2    173144
1    173144
0    173144
dtype: int64

In [176]:
df = ff[['id', 'username', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'DayOfWeek', 'Month', 'Hour', 'sentiment', 'sent_class']]

In [177]:
df.head()

,id,username,0,1,2,3,4,5,6,7,8,9,DayOfWeek,Month,Hour,sentiment,sent_class
0,1.045203e+18,10mgp,0.010058,0.010058,0.228744,0.487173,0.113148,0.010058,0.010058,0.010058,0.010060,0.110585,3,9,6,0.500000,2
1,1.036687e+18,10mgp,0.000000,0.129514,0.303850,0.000000,0.000000,0.000000,0.000000,0.000000,0.508295,0.000000,0,9,18,-0.085185,1
2,1.028857e+18,10mgp,0.157130,0.157147,0.014292,0.014292,0.157099,0.157097,0.014292,0.300065,0.014292,0.014292,0,8,4,0.333333,2
3,1.017129e+18,10mgp,0.157129,0.157156,0.014287,0.014288,0.299989,0.014289,0.157153,0.157131,0.014290,0.014287,2,7,19,0.600000,2
4,1.013736e+18,10mgp,0.020004,0.219996,0.020004,0.419946,0.020008,0.020004,0.020004,0.020004,0.020007,0.220022,0,7,10,0.000000,1

In [178]:
# df.to_csv('FINAL_DATAFRAME_CLASS.csv')

In [180]:
df_drop = df[df.sent_class != 1]

In [181]:
df_drop.username.nunique()

422

In [182]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135171 entries, 0 to 376948
Data columns (total 17 columns):
id            135171 non-null float64
username      135171 non-null object
0             135171 non-null float64
1             135171 non-null float64
2             135171 non-null float64
3             135171 non-null float64
4             135171 non-null float64
5             135171 non-null float64
6             135171 non-null float64
7             135171 non-null float64
8             135171 non-null float64
9             135171 non-null float64
DayOfWeek     135171 non-null int64
Month         135171 non-null int64
Hour          135171 non-null int64
sentiment     135171 non-null float64
sent_class    135171 non-null int64
dtypes: float64(12), int64(4), object(1)
memory usage: 18.6+ MB

In [186]:
X = df_drop[['username', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'DayOfWeek', 'Month', 'Hour']]
X = pd.get_dummies(X)

scaler = StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [184]:
y = df_drop[['sentiment']]

In [185]:
yc = df_drop[['sent_class']]

In [187]:
model_lr = LinearRegression()
scores = cross_val_score(model_lr,X,y,cv=5)
print('scores: ',scores)
print('socres mean: ',scores.mean())

scores:  [-6.79071772e+27 -6.69208560e+27 -6.78107015e+27 -6.68599736e+27
 -7.40864869e+26]
socres mean:  -5.538147138503505e+27

In [188]:
logreg = LogisticRegression(solver='lbfgs', multi_class='multinomial')
scores = cross_val_score(logreg,X,yc,cv=5)

/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/LujFel/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [189]:
scores

array([0.58601812, 0.59371186, 0.51853222, 0.54261301, 0.55287981])